* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #201f1f;
    
}

body {
    background-color: #24292f;
}
a {
    text-decoration: none;
}

a:hover {
    font-size: larger;
    font-weight: bolder;
    color: #cb333b86;
}


ul {
    list-style: none;
}

article li {
    font-weight: lighter;
}
  
/* Start nav Style */
nav {
    background-color: #f6f8fa; 
    height: 70px;
    display: flex;
    padding-top: 10px;
    border-bottom-right-radius: 10% ;
    border-bottom-left-radius: 10% ;
    /*width: 100vw;*/
}

nav h2{
    padding: 5px;
    padding-left: 50px;
    width: 100vw;
}

nav ul{
    font-weight: bold;  
    text-align: right; 
    padding: 10px;  
    width: 100vw;
}

nav ul li {
    display: inline;
    margin-right: 50px;
    width: 100vw;
}
/* End nav Style */

/*Start header Style */
header{
    display: flex; 
    background-color: #8a383b; 
    margin-top: 20px; 
    border-radius: 5%;
}

header img {
    margin-top: 10px; 
    margin-left: 20px; 
    border: 1px solid #9b2026; 
    border-radius: 50%;
    width: auto;
}

header h1{
    display: inline-block; 
    color: #e6d7cf;
    font-size: 70px;
    text-shadow: 0 0 1px #9b2026;
}

header p {
    font-family:'Courier New', Courier, monospace; 
    font-size: 20px; 
    font-weight: 20; 
    padding-top: 20px;
}
/*End header Style*/ 

/* Start articles Style*/
div article {
    border-radius:10% ; 
    background-color:  #f6f8fa;
    text-align: left;
}

article ul {
    list-style: square;  
    padding-top: 10px;
}

ul h3{
    margin-top: 5px; 
    color:rgba(82, 79, 82, 0.664);
}

ul span {
    margin: 5px;
    font-weight: bold;
}

article div {
    display: flex; 
    padding: 10px;

}

div img {
    border:1px solid #000000; 
    border-radius: 5% ; 
    display: inline-block;
}

div h1 {
    font-size: 30px; 
    padding-top: 30px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

div h3 {
    margin-top: 5px; 
    color:rgb(94, 88, 94); 
    font-size: 2em;
}

.previous{
    width: 500px;
    margin-left: 50px;
    margin-bottom: 10px;
}

#Exp {
   margin-right: 10px;
}
/* End article Style*/

article h1 {
    text-align: center;
    margin: 5px;
}
/* Start Contact + SM Style */
article p{
    font-weight: 1000;  
    margin: 10px;
}

article p a {
    margin: 10px; 
    font-weight: 200; 
    color: #e4696f;
}

.Contact {
    display: flex; 
    margin-top: 20px; 
    margin-left: 50px; 
    margin-right: 50px;
}

footer{
    background-color:
    #8a383b;
    height: 100px;
    margin-top: 10px;
    border-top-right-radius: 10% ;
    border-top-left-radius: 10% ;
}

/*End Contact Style */

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 780px) and (orientation: portrait){
    /* some CSS here */

    nav h2{
        padding-left: 20px;
        font-size: 16px;
        width:0px;
    }

    nav ul{
        font-size: 10px;
    }

    nav ul li {
        margin-right: 20px;
    }

    header img {
        width: 100px;
        height: 100px;
    }

    header h1{
        font-size: 20px;
        }

    header p {
            font-size: 10px; 
    }

    div h1 {
        font-size: 1em; 
    } 

    div img {
        width: 100px;
        height: 100px;
    }
    ul h3{
        margin-top: 2px; 
        font-size: 14px;
        margin-left: 0px;
    }

    article ul li {
        font-size: 10px;
        margin: 0px;
        padding: 0px;
    }

    ul span {
        font-size: 10px;
    }

        
    div h1 {
        font-size: 10px; 
    } 
    
    .previous {
        width: 100px;
    }

    .previous h3 {
       font-size: 12px;
    }
     
    .Contact {
        display: block;
        font-size: small;
    }

    .Contact h1 {
        font-size: 8px;
    }
    .Contact input {
        width: 50px;
        margin: 0px;
    }

    footer{
        height: 100px;
    }
  }
  
  
/* Animation */


.rotate:hover {
    animation-play-state: paused;
}

.rotate {
    position: relative;
    animation: myfirst 3s linear 1s infinite alternate-reverse;
}


@keyframes myfirst {
    0% {
        background-color: #201f1f;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: rgba(0, 0, 0, 0.548);
        left: 20px;
        top: 0px;
    }

    50% {
        background-color: rgba(0, 0, 0, 0.548);
        left: 20px;
        top: 20px;
    }

    75% {
        background-color: rgba(0, 0, 0, 0.548);
        left: 0px;
        top: 20px;
    }

    100% {
        background-color: #201f1f;
        left: 0px;
        top: 0px;
    }
}
