<div style="display: flex; margin-top: 20px;">
    <article style=" margin-right: 10px;">
        <h1 id="About"> About </h1>
        <ul>
            <h3> Skills </h3>
            <li> Leadership. </li>
            <li> Writing & Content creation. </li>
            <li> Documentation. </li>
            <li> Service focous. </li>
        </ul>
        <br> <br>
        <ul id= "Exp">
            <h3> Experience </h3>
            <span> Mid in: </span>
            <li> Web Development (HTML, CSS, JS, PHP), Application Development (Dart, Flutter). </li>
            <span> Simple in: </span>
            <li> ERP (C++, C#, Java), Game Development (Unity). </li>
            <span> Interested in: </span>
            <li> Machine Learning & TensorFlow (Python). </li>
        </ul>
    </article>


    <article>
        <h1 id="Services"> Services </h1>
        <div>
            <img src="images/web-design.jpg" alt="Web Design" width="200" height="150" />
            <h1 style="color: #5c84d0">
                Web and Mobile Development </h1>
        </div>

        <div>
            <img src="images/collab.jpg" alt="Web Design" width="200" height="150" />
            <h1 style="color: #5c84d0">
                Problem Solving </h1>
        </div>

        <div class="previous">
            <h3> Previous Works
            </h3>
            <ul style="list-style: disc;">
                <li> <a href="https://github.com/Ahd-Karman/Portfolio"> This website Done by me :3 </a> </li>
                <li> <a href="https://github.com/Ahd-Karman/Portfolio"> Also This one </a> </li>
            </ul>
        </div>

    </article>

</div>