<div class="Contact" style="display: flex; margin-top: 20px; ">
    <article>
        <h1 id="Contact"> Contact us </h1>
        <form action="" method="post">
             <div>
                <label style ="margin: 5px ;"> Email for Contacting: </label>
                <br>
                <input type="email" placeholder="Email" id ="email">
            </div>

            <div class="messageBox">
                <label for="message" style ="margin: 5px ;" >Request</label><br>
                <textarea id="message" cols="80" rows="8" required
                          placeholder="Type your message here."></textarea>
              </div>
              <pre id="error"></pre>
            <input type="button" value=" Send" id="check"
                style="background-color: rgb(255, 255, 255) ; border: 2px solid darkslategray; border-radius: 30%; height: 3em;font-weight: bold; margin: 20px;">
        </form>
        <script>
            var ch = document.getElementById("check") ;
            var email = document.getElementById("email") ;

            ch.addEventListener("click" , function()
                {
                   for(var i = 0 ; i < email.value.length ; i++) {
                       if (email.value[i] === "@")
                       return ;
                      else {
                          if(i == email.value.length-1 )
                           document.getElementById("error").innerHTML = " <b> Invalid Email ! </b> "; 
                       }
                   }
                }
            )
            
        </script>
    </article>


    <article style="margin-left: 20px;">
        <h1>
            Social Media </h1>
        <p> 'Facebook:' <a href="https://www.facebook.com/A2Kar/"> Click Here </a> </p>
        <p> 'Twitter:' <a href="https://twitter.com/ahdkarman"> Click Here </a> </p>
        <p> 'LinkedIn: ' <a href="https://www.linkedin.com/in/ahd-karman/"> Click Here </a> </p>
        <p> 'GitHub: ' <a href="https://github.com/Ahd-Karman"> Click Here </a> </p>
    </article>
</div>