<header>
    <section style="display: inline-block;  width: 100vw; ">
        <img src="images/me2.jfif" width="100vw" height="300" />
    </section>

    <article style="display: inline-block; width: 100vw;">
        <h1>
            Hey! <br>
            <span style=" color:#c3ac9a" class="rotate">
                AHD Karman </span> Here
        </h1>
        <p>
            Welcome to my
            FIRST Portfolio </p>


    </article>
</header>