<nav>
    <h2> Portfolio
    </h2>
    <ul>
        <a href="#">
            <li> Home </li>
        </a>
        <a href="#About">
            <li> About </li>
        </a>
        <a href="#Services">
            <li> Services </li>
        </a>
        <a href="#Contact">
            <li> Contact </li>
        </a>
    </ul>
</nav>
